html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    Segoe UI Symbol, "Noto Color Emoji";
}

::-webkit-scrollbar{
  display: none;
  width: 0;
}

.smooth-corner {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="340" height="340" viewBox="0 0 340 340"><path fill="currentColor" d="M128.19426,-1.24338747e-14 L211.80574,-2.07547158e-15 C256.381677,1.20590875e-15 272.545989,4.64128056 288.842285,13.3566352 C305.138581,22.0719898 317.92801,34.8614185 326.643365,51.1577148 C335.358719,67.4540111 340,83.618323 340,128.19426 L340,211.80574 C340,256.381677 335.358719,272.545989 326.643365,288.842285 C317.92801,305.138581 305.138581,317.92801 288.842285,326.643365 C272.545989,335.358719 256.381677,340 211.80574,340 L128.19426,340 C83.618323,340 67.4540111,335.358719 51.1577148,326.643365 C34.8614185,317.92801 22.0719898,305.138581 13.3566352,288.842285 C4.64128056,272.545989 6.22135083e-15,256.381677 -1.07074741e-14,211.80574 L-3.80187209e-15,128.19426 C2.20899717e-15,83.618323 4.64128056,67.4540111 13.3566352,51.1577148 C22.0719898,34.8614185 34.8614185,22.0719898 51.1577148,13.3566352 C67.4540111,4.64128056 83.618323,7.22443924e-15 128.19426,-1.24338747e-14 Z" /></svg>');
  -webkit-mask-size: 100% 100%;
  border-radius: 0;
}

.app-drag {
  -webkit-app-region: drag;
}